body{
    background-color: #000;
    margin:0;
    padding: 0;
}


h1, h2, h3{
    color: white;
}

a{
    text-decoration: none;
}

.header{
    background: grey;
}

.nav{
    background-color: purple;
}


.footer{
    background: green;
}

.frase1{
    color: #fff;
}

/*contenedor de saludo*/
.saludo{
    width: 100vw;
    height: 50vh;
    background-color:grey;
    display: flex;
    flex-direction: row;
}

.img_saludo{
    width: 50vw;
    height: 30vh;
    padding: 10px;
    background-color: olive;
}

#JT_perfil{
    width: 20vw;
    height: 40vh;
    margin-left: 10%;
    mask-image: linear-gradient(black 80%,transparent);
}

.texto_saludo{
    width: 50vw;
    height: 30vh;
    padding: 10px;
    background-color: orangered;

    p{
        text-align: center;
        margin: 20px;
    }
}

