body{
    background-color: #000;
    margin:0;
    padding: 0;
}

h1, h2, h3{
    color: white;
}

a{
    text-decoration: none;
}

.header{
    background: #000;
    display: flex;
}

.navbar{
    width: 100%;
    height: 20%;
    display: flex;
    background-color: #000;
    box-shadow: 0 2px 30px 0 #84774d;
}

.navdiv{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    margin:0 20px;
    justify-content: space-between;
    background-color: #000;

    .logo img{
        width: 50px;
        height: 50px;
    }

    nav{
        position: relative;
        background-color:#000;
        width: 100%;
        height: 100%;
        margin-left: 50%;
    }
}

nav a{
    color: #FFF;
    width: 146px;
    position: relative;
    display: inline-block;
    line-height: 50px;
    font-size: 1em;
    font-weight: bold;
    padding: 0 23px;
    z-index: 1;
    display: inline-block;
    text-align: center;
}
nav .animation{
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    background: #84774d;
    width: 100px;
    border-radius: 8px;

}
a:nthchild(1){
    width: 100px;
}
nav .start-home,a:nth-child(1):hover~.animation{
    width: 192px;
    left: 0;
}
a:nthchild(2){
    width: 100%;
    left: 0;
}
nav .start-planes,a:nth-child(2):hover~.animation{
    width: 192px;
    left: 192px;
}
a:nthchild(3){
    width: 100px;
}
nav .start-merchandising,a:nth-child(3):hover~.animation{
    width: 192px;
    left: 384px;
}
a:nthchild(4){
    width: 100px;
}
nav .start-about,a:nth-child(4):hover~.animation{
    width: 192px;
    left: 576px;
}

/*contenedor de saludo*/
.saludo{
    width: 100vw;
    height: 50vh;
    margin:50px 10px 0 10px;
    background-color:#000;
    display: flex;
    flex-direction: row;
}

.img_saludo{
    width: 50vw;
    height: 100%;
    padding: 10px;
    background-color: #000;
}

#JT_perfil{
    width: 20vw;
    height: 40vh;
    margin-left: 30%;
    mask-image: linear-gradient(black 80%,transparent);
}

.texto_saludo{
    width: 50vw;
    height: 100%;
    padding: 10px;
    margin:0 50px;
    font-family: roboto;
    background-color: #000;

    p{
        text-align: center;
        align-content: center;
        font-size: 25px;
        display: block;
        padding: 50px;
        color:#FFF;
        font-style: italic;
    }
}

/*contenedor de planes y precios*/
.planes{
    width: 100vw;
    height: 50vh;
    margin:10px;
    background-color:#000;
    flex-direction: row;
    text-align: center;
}

.precios{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:100px;
}

.card1, .card2, .card3{
    width: 190px;
    height: 250px;
    border-radius: 3px;
    background: #84774d;
    padding: 5px;
    box-shadow: -5px 5px 20px 0.2px #84774d;
}

#nombre_plan{
    color: #000;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

#valor{
    color: #000;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

/*certificados*/

/*testimonios*/

.footer{
    width: 100%;
    background: #84774d;
    display: flex;
    text-align: right;

    li{
        list-style: none;
        display: inline-block;
    }

    li a {
        color: #000;
        font-size: 15px;
        margin-right: 50px;
    }
}